.navbar-brand {

    background-color: teal;
    padding: 12px 15px;
    margin: 0px 15px 0px 200px;

}

.navbar-nav {

    margin-left: 400px;
    
}

.navbar {

    background-color: white;

}

form {

    margin: 30px 105px 0px 100px;
    width: 960px;
    align-content: center;

}

.btn {

    background-color: teal;
    margin-left: 100px;

}
