body {

    background-image: url(images/images/brickwall/brickwall_@2X.png);

}

.headername {

    background-color: grey;
    color: orange;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    padding: 0px 20px 0px 20px;
    text-align: center;
    width: fit-content;
    margin-left: 30%;
    margin-bottom: 0px;
    padding-bottom: 4px;

}

.nav a {

    color: grey;
    
    
}

.nav-item {
    
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    border-radius: 50%;
    border-color: orange;
    
    margin-top: 3px;
    
}

.nav {
    border-bottom: 8px solid orange;
    border-width: 100%;
    background-color: white;
    margin-bottom: 0px;
    height: 60px;
    
}

.nav-item:hover {

    font-weight: 700;
    font-size: 20px;
    

}

form {

    margin: 0px 0px 0px 30px;
    width: 93%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;

}

.btn {

    background-color: grey;
    margin-left: 47px;
    border-color: grey;
    margin-bottom: 20px;
    color: orange;
    width: 110px;
}

.heading {

    margin: 25px 0px 0px 30px;
    width: 93%;
    padding-top: 15px;
    font-style: italic;

}

.pcontent {

    width: 960px;
    background-color: white;
    margin: 125px 25px 150px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    display: inline-block;
    align-content: center;

}

.pcontent .img-fluid {

    width: 295px;
    height: 295px;
    margin: 0px 15px 15px 20px;
    border-radius: 50%;
    opacity: 1;
    height: auto;

}

.pcontent .img-fluid:hover {

    cursor: none;
    opacity: 0.3;


}

.imgcontainer {

    position: relative;
    width: 250px;
    display: inline-block;
    margin-left: 7px;

}

.imgcontainer:hover {

    cursor: none;
    
}

.middle {

    transition: .5s ease-in;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.imgcontainer:hover .middle {

    opacity: 1;
    cursor: none;

}

.imgcontainer:hover .img-fluid {

    opacity: 0.3;

}

.imgcontainer:hover .middle .picturetext {

    opacity: 1;

}

.picturetext {

    background-color: grey;
    color: orange;
    font-size: 14px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;

}

hr {

    
    border: 2px solid orange;
}

footer p {

    padding: 13px 13px;
    font-size: x-small;
    color: white;
    background-color: grey;
    font-weight: 700;
    text-align: center;
}

footer {

    background-color: grey;
    width: 100%;
    height: 55px;
    border-top: 8px solid orange;
    margin-top: 20px;
}

.img-fluid {

    float: left;
    width: 250px;
    height: 150px;
    margin: 10px 10px 3px 30px;
    

}



.aboutcontent p {

    color: #777777;
    margin-left: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right: 30px;
}

.aboutcontent {

    padding: 0px 0px 30px 0px;
    height: auto;
    

}

.aboutcontent .img-fluid {

    border-radius: 0%;

}